{% extends 'templates/base.html.twig' %}

{% block content %}

	<div class="row justify-content-end card-header py-3 ">
		<a href="/grupo" class="btn btn-primary btn-sm">
			Voltar
		</a>
	</div>
	<div class="row justify-content-center">

		<div class="col-lg-6 ">
			<div class="p-5">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">{{title}}</h1>
				</div>
				<form method="post" class="user center-block" action="{{ base_url('/grupo/save') }}">
					{% if grupo %}
						<input type="hidden" name="id" value="{{ grupo.id }}"/>
					{% endif %}
					<div class="form-group row">
						<div class="col-sm-12 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="nome" name="nome" placeholder="Novo Grupo" value="{{ grupo is defined ? grupo.nome : ''}}">
						</div>

					</div>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="number" class="form-control form-control-user" id="idade_min" name="idade_min" placeholder="Idade Mínima" value="{{ grupo is defined ? grupo.idade_min : ''}}">
						</div>
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="number" class="form-control form-control-user" id="idade_max" name="idade_max" placeholder="Idade Maxima" value="{{ grupo is defined ? grupo.idade_max : ''}}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-12 mb-3 mb-sm-0">
							<button class="btn btn-primary btn-user btn-block">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
