{% extends 'templates/base.html.twig' %}

{% block content %}

	<div
		class="container-fluid">

		<!-- Page Heading -->
		<h1 class="h3 mb-2 text-gray-800">{{title}}</h1>

		<!-- DataTales Example -->

		<div class="row justify-content-end card-header py-3 ">
			<a href="/agendamento/novo" class="btn btn-primary btn-sm">Novo Agendendamento</a>
		</div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">Tabela de Agendamento</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>paciente</th>
								<th>agenda</th>
								<th>grupo</th>
								<th>Ações</th>
							</tr>
						</thead>
						<tbody>
							{% for agendamento in agendamentos %}
								<tr>
									<td>{{ agendamento.NomePaciente }}</td>
									<td>{{ agendamento.agendaDataHora |date('d/m/Y H:i:s') }}</td>
									<td>{{ agendamento.GrupoNome }}</td>
									<td>
										<a href="{{ base_url(baseRoute) }}/editar/{{ agendamento.id }}" class="btn btn-info btn-circle btn-sm">
											<i class="fas fa-user-edit"></i>
										</a>
										<a href="{{ base_url(baseRoute) }}/excluir/{{ agendamento.id }}" class="btn btn-danger btn-circle btn-sm">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
	<!-- /.container-fluid -->

{% endblock %}

{% block script %}
	<script src="{{ base_url('assets/vendor/datatables/jquery.dataTables.min.js')}}"></script>
	<script src="{{ base_url('assets/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>


{% endblock %}
