{% extends 'templates/base.html.twig' %}

{% block content %}
	<div class="row justify-content-end card-header py-3 ">
		<a href="/paciente" class="btn btn-primary btn-sm">
			Voltar
		</a>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-8 ">
			<div class="p-5">
				<div class="text-center">
					<h1 class="h4 text-gray-900 mb-4">{{ title }}</h1>
				</div>
				<form method="post" class="user center-block" action="{{ base_url('/paciente/save') }}">
					{% if paciente %}
						<input type="hidden" name="id" value="{{ paciente.id }}"/>
					{% endif %}
					<div class="form-group row">
						<div class="col-sm-12 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="nome" name="nome" placeholder="Nome" value="{{ paciente is defined ? paciente.nome : ''}}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-4 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="cpf" name="cpf" placeholder="CPF" value="{{ paciente is defined ? paciente.cpf : ''}}">
							<span id="cpf_invalido" class="d-none text-danger">CPF INVALIDO</span>
							<span id="cpf_valido" class="d-none text-success">CPF VALIDO</span>
						</div>
						<div class="col-sm-4 mb-3 mb-sm-0">
							<input type="number" class="form-control form-control-user" id="idade" name="idade" placeholder="Idade" value="{{ paciente is defined ? paciente.idade : ''}}">
						</div>
						<div class="col-sm-4 mb-3 mb-sm-0">
							<input type="date" class="form-control form-control-user" id="data_nascimento" name="data_nascimento" placeholder="Data de Nacimento" value="{{ paciente is defined ? paciente.data_nascimento : ''}}">
						</div>
					</div>
					<div class="form-group row">
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="nome_mae" name="nome_mae" placeholder="Nome da Mãe" value="{{ paciente is defined ? paciente.nome_mae : ''}}">
						</div>
						<div class="col-sm-6 mb-3 mb-sm-0">
							<input type="text" class="form-control form-control-user" id="telefone" name="telefone" placeholder="Telefone" value="{{ paciente is defined ? paciente.telefone : ''}}">
						</div>
					</div>

					<div class="form-group row">
						<div class="col-sm-12 mb-3 mb-sm-0">
							<button class="btn btn-primary btn-user btn-block">Salvar</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block vendor %}
	<script src="{{ base_url('/assets/js/inputmask/jquery.inputmask.min.js') }}"></script>
{% endblock %}

{% block script %}
	<script type="text/javascript">

		var Page = function () {

			var _components = function () {
				$('#telefone').inputmask({
					mask: [
						"(99) 9999-9999", "(99) 99999-9999"
					],
					keepStatic: true
				});
				$('#cpf').inputmask('999.999.999-99');
			};

			var _validatorCpf = function () {
				$('#cpf').blur(function(){
					var numeros_cpf = $('#cpf').val().replace("-","").replace("/","").replace(/\./g,"");
					
					if(TestaCPF(numeros_cpf) == false){
						$('#cpf').addClass("is-invalid");
						$('#cpf_valido').removeClass("d-block").addClass("d-none");
						$('#cpf_invalido').removeClass("d-none").addClass("d-block");
					}

					if(TestaCPF(numeros_cpf) == true){
						$('#cpf').removeClass("is-invalid").addClass("is-valid");
						$('#cpf_invalido').removeClass("d-block").addClass("d-none");
						$('#cpf_valido').removeClass("d-none").addClass("d-block");
						
					}	
				})
			}

			function TestaCPF(strCPF) {
				var Soma;
				var Resto;
				Soma = 0;
				if (strCPF == "00000000000") return false;

				for (i=1; i<=9; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (11 - i);
				Resto = (Soma * 10) % 11;

				if ((Resto == 10) || (Resto == 11))  Resto = 0;
				if (Resto != parseInt(strCPF.substring(9, 10)) ) return false;

				Soma = 0;
				for (i = 1; i <= 10; i++) Soma = Soma + parseInt(strCPF.substring(i-1, i)) * (12 - i);
				Resto = (Soma * 10) % 11;

				if ((Resto == 10) || (Resto == 11))  Resto = 0;
				if (Resto != parseInt(strCPF.substring(10, 11) ) ) return false;
				return true;
			}

			return {
				init: function () {
					_components();
					_validatorCpf();
				}
			}
		}();

		

		document.addEventListener('DOMContentLoaded', function () {
			Page.init();
		});
	</script>
{% endblock %}
